# .gitignore dosyası


# Sanal ortam dosyaları
venv/

# Ara dosyalar ve dosyalar
*.pyc
*.pyo
*~
.DS_Store

# Build çıktıları
build/
dist/

# Test dosyaları
.pytest_cache/
.coverage

# Belgelendirme dosyaları
docs/